{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>COVID-19 Scanner</title>
    <meta name="description" content="A COVID-19 PreScanner to help ensure taking a test is completely necesary for you and your loved ones.">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
        {% include 'dashboard/navbar.html' %}
        <div class="container-fluid">
        
        {% block content %}
        {% endblock %}
        </div>

        {% include 'dashboard/footer.html' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script src="{% static '/js/script.min.js' %}"></script>
    </body>
</html>